.main-layout{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: lightgray;
    height: 100%;
    width: 100%;
}

.navbar{
    background: blue;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
    width: 100%;
}

.footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: aqua;
}

.nestedGrid{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}
.nestedGrid > *{
    border: 2px solid aquamarine;
}

.content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    align-items: center;
}

.post{
    height: 10vh;
    width: 10vh;
}

.box{
    border: 1px solid red;
    background: #F8FA9D;
}